In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("50_Startups.csv")

In [7]:
df = data.copy()

In [13]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [16]:
x

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [17]:
y

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder()

In [29]:
x_train = pd.get_dummies(x_train).astype(int)
x_test = pd.get_dummies(x_test).astype(int)

In [33]:
x_test

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
13,91992,135495,252664,1,0,0
39,38558,82982,174999,1,0,0
30,61994,115641,91131,0,1,0
45,1000,124153,1903,0,0,1
17,94657,145077,282574,0,0,1
48,542,51743,0,0,0,1
26,75328,144135,134050,0,1,0
25,64664,139553,137962,1,0,0
32,63408,129219,46085,1,0,0
19,86419,153514,0,0,0,1

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [35]:
con_cols = ["R&D Spend","Administration","Marketing Spend"]

In [37]:
x_train[con_cols] = sc.fit_transform(x_train[con_cols])
x_test[con_cols] = sc.transform(x_test[con_cols])

In [39]:
x_train

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
12,0.342016,0.227882,0.124251,0,1,0
4,1.362082,-1.097483,1.149908,0,1,0
37,-0.710822,-2.577006,-0.341368,1,0,0
8,0.906114,1.017222,0.668904,0,0,1
3,1.409973,-0.091166,1.300068,0,0,1
6,1.203672,0.961151,-0.952491,1,0,0
41,-1.052867,-1.343935,-0.628436,0,1,0
46,-1.614808,-0.196483,0.541068,0,1,0
47,-1.642612,0.526900,-2.078546,1,0,0
15,0.778849,0.054359,0.229498,0,0,1
9,0.965147,-0.459756,0.610430,1,0,0
16,0.006886,0.016769,0.252157,1,0,0
24,-0.013603,-0.806433,-0.839124,0,0,1
34,-0.660986,1.348295,-0.219977,1,0,0
31,-0.349960,1.164148,-1.300740,0,0,1
0,1.853508,0.581163,2.081110,0,0,1
44,-1.173704,1.241798,-1.828729,1,0,0
27,-0.117990,0.247949,1.035421,0,0,1
33,-0.469275,-0.667143,-0.186147,0,1,0
5,1.145759,-0.786772,1.120750,0,0,1
29,-0.255468,1.176358,-1.133925,0,0,1
11,0.485964,-1.082765,0.123413,1,0,0
36,-1.036565,0.218144,-0.305245,0,1,0
1,1.795320,1.115308,1.835243,1,0,0
21,0.014836,1.203693,0.564195,0,0,1
2,1.601726,-0.737673,1.518153,0,1,0
43,-1.314776,0.230169,-1.765247,0,0,1
35,-0.669698,-1.331504,-0.266530,0,0,1
23,-0.214724,-0.567765,0.608552,0,1,0
40,-1.034641,-0.095777,-0.555036,1,0,0
10,0.512224,-0.389114,-0.058073,0,1,0
22,-0.078092,0.060482,0.595777,0,1,0
18,0.297318,-0.257017,0.521715,0,1,0
49,-1.642612,-0.153434,-1.680262,1,0,0
20,-0.030328,-0.268378,0.554734,1,0,0
7,1.112393,0.899621,0.777025,0,1,0
42,-1.142771,-0.920493,-0.773641,1,0,0
14,0.893449,1.306021,0.183086,0,1,0
28,-0.246038,2.268736,-1.036851,0,1,0
38,-1.214893,-2.036073,-0.445089,0,0,1

In [41]:
x_test

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
13,0.302456,0.529445,0.149158,1,0,0
39,-0.827346,-1.407679,-0.535603,1,0,0
30,-0.331818,-0.202938,-1.275056,0,1,0
45,-1.621468,0.111056,-2.061767,0,0,1
17,0.358804,0.882911,0.412871,0,0,1
48,-1.631152,-2.560037,-2.078546,0,0,1
26,-0.049886,0.848162,-0.896645,0,1,0
25,-0.275364,0.679139,-0.862154,1,0,0
32,-0.301921,0.297933,-1.672221,1,0,0
19,0.184621,1.194139,-2.078546,0,0,1

In [42]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [43]:
lr.fit(x_train,y_train)

LinearRegression()

In [44]:
y_pred = lr.predict(x_test)

In [62]:
# y_pred.shape
y_test.shape

(10, 1)

In [63]:
check_df = pd.DataFrame({"pred":np.array(y_pred).reshape(-1),"actual":np.array(y_test).reshape(-1)})

In [65]:
check_df

            pred     actual
0  126362.932522  134307.35
1   84608.525799   81005.76
2   99677.450073   99937.59
3   46357.547098   64926.08
4  128750.693227  125370.37
5   50912.796508   35673.41
6  109741.008510  105733.54
7  100643.019252  107404.34
8   97598.947612   97427.84
9  113097.039752  122776.86

In [66]:
from sklearn.metrics import r2_score

In [67]:
r2_score(y_test,y_pred)

0.8987245306209188